body {
    background: white;

}



.try {
    
    font-size: 16rpx;
}

.text1 {
   
    font-size: 8rpx;
}

.image1 {
   
    font-size: 8rpx;
}

.image2 {
 
    font-size: 8rpx;
}